.selection-block {
  display: flex;
  flex-direction: row;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 2fr;
  justify-items: center;
}

.button-img {
  height: 30px;
  width: 30px;
}

.vertical-center {
  padding-top: 10px;
}

.icon-image {
  width: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  width: 50px;
}
